name: runtime_arb
description: A new Flutter package project.
version: 0.0.1
author:
homepage:

environment:
  sdk: '>=3.4.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  intl:
  # intl_translation: